@if (Peliculas == null)
{
    <img src="https://s3.scoopwhoop.com/anj/loading/594155876.gif" alt="Cargando" />
}
else
{
    @foreach (var pelicula in Peliculas)
    {
        <div>
            <p>
                <b>T&iacute;tulo:</b> @pelicula.Titulo
            </p>
            <p><b> Fecha Lanzamiento:</b> @pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</p>
        </div>
    }
}


@code
{
    [Parameter]
    public List<Pelicula>? Peliculas { get; set; }

    
}
