@if (Peliculas == null)
{
    <img src="https://s3.scoopwhoop.com/anj/loading/594155876.gif" alt="Cargando" />
}
else
{
    <input type="checkbox"  @bind="MostrarBotones" />
    <span>Mostrar Botones</span>
    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones" />
    }
}


@code
{
    [Parameter]
    public List<Pelicula>? Peliculas { get; set; }


    public bool MostrarBotones { get; set; }
}
