@typeparam TItem
@if (Listado == null)
{
    @if (Cargando is null)
    {
        <img src="https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif" alt="Cargando" />
    }
    else
    {
        @Cargando
    }
}
else if (!Listado.Any())
{
    @if (NoHayRegistros is null)
    {
        <span>No hay registros para mostrar</span>
    }
    else
    {
        @NoHayRegistros
    }
}
else
{
    @foreach (var elemento in Listado)
    {
        @HayRegistros(elemento)
    }
}

@code {

    [Parameter]
    public RenderFragment? Cargando { get; set; }

    [Parameter]
    public RenderFragment? NoHayRegistros { get; set; } 

    [Parameter]
    public RenderFragment<TItem> HayRegistros { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<TItem>? Listado { get; set; }

}
