<input type="checkbox" @bind="MostrarBotones" />
<p>
    <span>Mostrar Botones</span>
</p>

<ListadoGenerico Listado="Peliculas">
    <HayRegistros Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula"
                            MostrarBotones="MostrarBotones"
                            EliminarPelicula="EliminarPelicula" />
    </HayRegistros>
</ListadoGenerico>


@code
{
    [Parameter]
    public List<Pelicula>? Peliculas { get; set; }


    public bool MostrarBotones { get; set; } = true;

    public void EliminarPelicula(Pelicula item)
    {
        Peliculas!.Remove(item);
    }
}
