@inject IJSRuntime js

<input type="checkbox" @bind="MostrarBotones" />
<p>
    <span>Mostrar Botones</span>
</p>

<ListadoGenerico Listado="Peliculas">
    <HayRegistros Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula"
                            MostrarBotones="MostrarBotones"
                            EliminarPelicula="EliminarPelicula" />
    </HayRegistros>
</ListadoGenerico>


@code
{
    [Parameter]
    public List<Pelicula>? Peliculas { get; set; }

    public void LimpiarPeliculas()
    {
        Peliculas!.Clear();
    }

    public bool MostrarBotones { get; set; } = true;

    public async Task EliminarPelicula(Pelicula item)
    {
        //var confirmado = await js.InvokeAsync<bool>("confirm", $"Desea borrar la pelicula {item.Titulo}?");

        var confirmado = await js.Confirm($"Desea borrar la pelicula {item.Titulo}?");

        if (confirmado)
            Peliculas!.Remove(item);
    }
}
