<div>
    <p>
        <b>T&iacute;tulo:</b> @Pelicula.Titulo
    
    @if (@DateTime.Today.Subtract(Pelicula.FechaLanzamiento).Days <= 30)
    {
        <span style="color: red">(NUEVO!!)</span>
    }
    </p>
    <p><b> Fecha Lanzamiento:</b> @Pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</p>
    
    @if (MostrarBotones)
    {
        <input type="button" value="Borrar"/>
    }

</div>

@code {

    [Parameter]
    [EditorRequired]
    public Pelicula Pelicula { get; set; } = null!;

    [Parameter]
    public bool MostrarBotones { get; set; }
}