@page "/"


<PageTitle>Peliculas</PageTitle>

<HeadContent>
    <meta name="description" content="Pagina para visualizar peliculas"/>
</HeadContent>

<button @onclick="LimpiarPeliculas">Limpiar Peliculas</button>

<div>
    <h3>Peliculas</h3>
    <ListadoPeliculas @ref="listadoPeliculas" Peliculas="Peliculas" />
</div>


@code
{
    public List<Pelicula>? Peliculas { get; set; }
    public ListadoPeliculas? listadoPeliculas;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
            Peliculas = ObtenerPeliculas();
    }

    public void LimpiarPeliculas()
    {
        listadoPeliculas!.LimpiarPeliculas();
    }

    public List<Pelicula> ObtenerPeliculas()
    {
        Task.Delay(300);

        var list = new List<Pelicula>
        {
            new() { Titulo = "Spiderman 2", FechaLanzamiento = DateTime.Parse("2004-11-30") },
            new() { Titulo = "Everything, everywhere, all at once", FechaLanzamiento = DateTime.Parse("2022-05-01") },
            new() { Titulo = "The Whale", FechaLanzamiento = DateTime.Parse("2023-02-10")},
            new() { Titulo = "Mario Bros. The Movie", FechaLanzamiento = DateTime.Parse("2023-04-05")}
        };
        return list;
    }
}
